html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-encode-sans;
  font-size: 15px;
  color: get-color('primary');
  -webkit-font-smoothing: antialiased;
}

@include lang-ja {
  html,
  body {
    font-family: $font-family-noto-sans;
  }
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// NOTE: Overwrite sanitize.css
h1 {
  margin: 0;
}

// REMOVE HIGHLIGHT WHEN TAPPING ELEMENT ON MOBILE
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.u-dn-sp {
  @include sp {
    display: none !important;
  }
}

.u-dn-sp-small {
  @include sp-small {
    display: none !important;
  }
}

.u-dn-pc {
  @include pc {
    display: none !important;
  }
}

.u-dn-tablet-pc {
  @include tablet-pc {
    display: none !important;
  }
}

.u-dn-vi-sp {
  @include sp {
    @include font-other(vi) {
      display: none !important;
    }
  }
}

// ANIMATION CLASS
$delay-default: 0.5s;
$transition-default: 0.3s;
$transition-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

.a-spin-text {
  opacity: 0%;

  &__letter {
    display: inline-block;
    transform: translateZ(0);
    transform-origin: 0 0;
  }
}

.a-bgslide-text {
  & > span {
    color: transparent;
    background: linear-gradient(get-color('primary') 0 0);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0% 100%;
    box-decoration-break: clone;
  }

  &:after {
    @include transitions(width, 0.5s $delay-default ease);

    width: 0 !important;
  }

  &--animated {
    & > span {
      animation: fr-1 0.5s $delay-default both;
    }

    &.a-delay-animated {
      > span {
        animation: fr-1 0.5s $delay-default * 2 both;
      }

      &-2 {
        > span {
          animation: fr-1 0.5s $delay-default * 3 both;
        }
      }

      &-3 {
        > span {
          animation: fr-1 0.5s $delay-default * 4 both;
        }
      }
    }

    &:after {
      width: 68px !important;

      @include tablet {
        width: convert-vw(68) !important;
      }
    }
  }

  &.a-title--green > span,
  &.a-title--highlight > span {
    background: linear-gradient(get-color('green') 0 0);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0% 100%;
    box-decoration-break: clone;
  }

  &.a-title--inverse > span {
    background: linear-gradient(get-color('white') 0 0);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0% 100%;
    box-decoration-break: clone;
  }
}

.a-bgslide-img {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(get-color('white') 0 0);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 150% 100%;
  }

  &--animated {
    &:after {
      animation: fr-2 1.2s $transition-default both;
    }

    &.a-delay-animated {
      &:after {
        animation: fr-2 1.2s 0.5s both;
      }

      &-2 {
        &:after {
          animation: fr-2 1.2s 0.5s both;
        }
      }
    }
  }
}

.a-animate-character {
  display: inline-block;
  background-image: linear-gradient(-225deg, #d9f9a5 0%, #d9f9a5 25%, #8eb84a 80%, #8eb84a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% auto;
  animation: textclip 3.5s linear infinite;
  -webkit-text-fill-color: transparent;
}

.a-animated-fadeinup {
  opacity: 0%;
  transition: opacity 1.2s cubic-bezier(0.49, 0.1, 0.43, 0.99), transform 1.2s cubic-bezier(0.17, 0.67, 0.32, 0.96);
  transform: translate3d(0, 50px, 0);

  &.a-delay-animated {
    transition-delay: $delay-default;
    text-align: left;
    &-2 {
      transition-delay: $delay-default * 2;
      text-align: left;
    }
  }

  &--animated {
    opacity: 100%;
    transform: translateZ(0);
  }
}

.a-animated-fadeinleft {
  opacity: 0%;
  transition: opacity 1.2s cubic-bezier(0.49, 0.1, 0.43, 0.99), transform 1.2s cubic-bezier(0.17, 0.67, 0.32, 0.96);
  transform: translate3d(-50px, 0, 0);

  &.a-delay-animated {
    transition-delay: $delay-default;

    &-2 {
      transition-delay: $delay-default * 2;
    }
  }

  &--animated {
    opacity: 100%;
    transform: translateZ(0);
  }
}

.a-animated-fadein {
  opacity: 0%;
  transition: opacity 1.2s cubic-bezier(0.49, 0.1, 0.43, 0.99);

  &.a-delay-animated {
    transition-delay: $delay-default;

    &-2 {
      transition-delay: $delay-default * 2;
    }
  }

  &--animated {
    opacity: 100%;
  }
}

.o-animated-section {
  &--animated {
    .a-bgslide-img {
      &:after {
        animation: fr-2 1.2s $transition-default both;
      }

      img {
        opacity: 100%;
      }
    }

    .a-bgslide-text {
      &.a-title--green > span {
        animation: fr-1 2s both;
      }
    }

    .a-animated-fadeinup {
      opacity: 100%;
      transform: translateZ(0);
    }
  }
}
