.a-job-title {
  display: inline-block;
  padding: 17px;
  font-family: $font-family-saira;
  font-weight: $font-weight-bold;
  text-align: center;
  background-color: get-color('white');
  border: 1px solid get-color('primary');
  border-radius: 7px;

  @include u-fz(16, 24, false, true);
  @include transitions(background-color border-color text, 0.3s ease);
  @include tablet {
    padding: convert-vw(17) convert-vw(17);
  }

  &:hover {
    @include only-pc {
      color: get-color('white');
      background-color: get-color('green');
      border-color: transparent;
    }
  }

  &--selectable {
    display: inline-flex;
    align-items: center;
    color: get-color('green');
    cursor: pointer;
    border-color: get-color('green');
    border-width: 2px;
    @include sp {
      min-height: 100px;
      padding: 12px 14px;
      @include u-fz(16, 24);
    }
    @include pc {
      min-height: 72px;
      padding: 7px 24px;
      @include u-fz(18, 27, false, true);
    }
    @include tablet {
      min-height: convert-vw(72);
      padding: convert-vw(7) convert-vw(24);
    }
    @include sp-small {
      min-width: 0;
      padding: 12px 6px;
      font-size: 14px;
    }

    &:hover {
      @include only-pc {
        color: get-color('primary');
        background-color: get-color('light-green');
        border-color: get-color('green');
      }
    }
  }

  &--active {
    color: get-color('primary');
    background-color: get-color('light-green');
    border-color: get-color('green');
  }

  .m-tabs__tab-content--closed-job & {
    &:hover {
      @include only-pc {
        background-color: get-color('base', 'catskill-white');
      }
    }

    &--selectable {
      color: get-color('text', 'gray');
      border-color: get-color('gray');

      &:hover {
        @include only-pc {
          color: get-color('primary');
          background-color: get-color('base', 'catskill-white');
          border-color: get-color('gray');
        }
      }
    }

    &--active {
      color: get-color('primary');
      background-color: get-color('base', 'catskill-white');
      border-color: get-color('gray');
    }
  }
}
