.p-about {
  $header-height: 80px;

  &__philosophy-title {
    padding-top: 62px;
    padding-bottom: 32px;
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
  }

  &__policy {
    @include pc {
      margin-top: 55px;
    }
  }

  &__map {
    margin-bottom: 80px;

    @include pc {
      margin-bottom: 85px;
    }
  }

  #ceo-message {
    display: block;
    width: 100%;
    height: $header-height;
    margin-top: -$header-height;
  }
  white-space: break-spaces;
}
