.o-service {
  padding-top: 49px;
  padding-bottom: 65px;
  word-break: break-word;

  @include pc {
    padding-top: 99px;
    padding-bottom: 99px;
    text-align: center;
    word-break: break-word;
  }
  @include tablet {
    padding-top: convert-vw(99);
    padding-bottom: convert-vw(99);
    word-break: break-word;
  }

  &__title {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
    @include pc {
      text-align: center;
    }
  }

  &__content {
    @include u-fz(18, 27, false, true);

    margin-top: 33px;
    font-weight: $font-weight-regular;
    color: get-color('text', 'gray');
    width: 100%;
    max-width: 100%;
    word-break: break-word;
    p {
      display: inline-block;
      width: 100%;
      white-space: pre-wrap;
    }
    @include pc {
      max-width: 685px;
      margin-top: 44px;
      margin-right: auto;
      margin-left: auto;
      word-break: auto-phrase;
      text-align: center;
      text-align-last: center;
      white-space: pre-wrap;
    }
    @include tablet {
      margin-top: convert-vw(44);
    }
  }

  &__button {
    display: inline-block;
    margin-top: 23px;
    @include pc {
      margin-top: 41px;
    }
    @include tablet {
      margin-top: convert-vw(41);
    }
  }

  &__logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    @include pc {
      margin: 18px auto 0;
    }
    @include tablet {
      margin-top: convert-vw(18);
    }
  }

  &__logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 12px 6px;
    @include pc {
      width: 20%;
      padding: 12px;
    }
    @include tablet {
      padding: convert-vw(12);
    }
  }

  &__logo-image {
    width: 69px;
    height: 36px;
    @include pc {
      width: 180px;
      height: 116px;
    }
    @include tablet {
      width: convert-vw(180);
      height: convert-vw(116);
    }
  }
}
