.o-develop {
  &__title {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    margin-bottom: 35px;

    @include pc {
      margin-bottom: 62px;
      text-align: center;
    }

    @include sp {
      padding: 0 24px;
      white-space: pre-wrap;
      text-align: center;
    }
  }
}
