.a-text {
  font-weight: $font-weight-regular;

  @include u-fz(16, 24);

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--semi-bold {
    font-weight: $font-weight-semi-bold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }

  &--highlight {
    background-color: get-color('text', 'highlight');
  }

  &--green {
    color: get-color('green');
  }

  &--fz-medium {
    @include u-fz(18, 27, false, true);
  }

  &--border-highlight {
    position: relative;
    padding-left: 16px;

    &:before {
      position: absolute;
      top: 2px;
      bottom: 0;
      left: 0;
      width: 4px;
      content: '';
      background: get-color('primary');
    }
  }
}
