.a-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: get-color('primary');
  vertical-align: middle;
  background-color: currentColor;
  background-repeat: no-repeat;
  mask-type: alpha;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;

  @mixin icon-shape($name) {
    &--#{$name} {
      mask-image: url('~images/icons/#{$name}.svg');
    }
  }

  @each $icon in $icons-shape {
    @include icon-shape($icon);
  }
}
