.o-blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: convert-vw(25);
  column-gap: convert-vw(23);

  @include tablet-small {
    grid-template-columns: repeat(2, 1fr);
  }

  @include sp {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
  }

  &__button {
    margin-top: convert-vw(23px);

    @include sp {
      margin-top: 0;
    }

    &:hover {
      @include only-pc {
        .a-button__icon {
          transform: translateY(2px) rotate(90deg);
        }
      }
    }
  }
}
