.m-indicators {
  $root: &;
  @include sp {
    position: relative;
    z-index: get-zindex('filterlist');
    padding: 0 15px;
  }
  @include pc {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: get-color('white');
    border: 1px solid get-color('border', 'light-blue');
    border-radius: 7px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 5%);
  }

  @include tablet {
    padding: convert-vw(16);
    box-shadow: 0 convert-vw(5) convert-vw(35) rgba(0, 0, 0, 5%);
  }

  &__button {
    display: none;
    @include sp {
      display: block;
      margin-bottom: 11px;
      color: get-color('green');
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
      @include u-fz(18, 27);

      & > .a-icon {
        width: 24px;
        height: 24px;
        margin: 0 4px 4px;
        color: get-color('green');
      }
    }
  }

  &__nav {
    display: flex;

    @include sp {
      display: none;

      &--open {
        position: absolute;
        display: block;
        width: calc(100% - 30px);
      }
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    margin-left: 32px;
    cursor: pointer;

    @include only-pc {
      &:hover {
        #{$root}__nav-text {
          color: get-color('green');

          &:after {
            right: 0;
          }
        }
      }
    }
    @include tablet {
      margin-left: convert-vw(16);
    }

    &:first-of-type {
      margin-left: 0;
    }

    .a-icon {
      margin-right: 4px;
      font-size: 48px;
      color: get-color('green');
      @include tablet {
        margin-right: convert-vw(4);
        @include u-fz(48, 48, false, true);
      }
    }

    @include sp {
      padding: 7px 20px;
      margin-bottom: 12px;
      margin-left: 0;
      background-color: get-color('white');
      border: 1px solid get-color('border', 'light-blue');
      border-radius: 7px;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 5%);
    }
  }

  &__nav-text {
    position: relative;
    font-size: 18px;
    font-weight: $font-weight-bold;
    transition: 0.3s all ease;
    @include pc {
      @include u-fz(18, 27, false, true);
    }

    #{$root}__nav-item--active & {
      color: get-color('green');

      &:after {
        right: 0;
      }
    }

    &:after {
      position: absolute;
      right: 100%;
      bottom: -6px;
      left: 0;
      height: 2px;
      content: '';
      background-color: get-color('green');
      transition: 0.3s all ease;
      @include tablet {
        bottom: convert-vw(-6);
        height: convert-vw(2);
      }
    }
  }
}
