.o-career {
  $root: &;

  padding: 32px 0;
  background-color: get-color('base', 'white');

  @include pc {
    padding: 59px 0 65px;
  }
  @include tablet {
    padding: convert-vw(59px) 0 convert-vw(65px);
  }

  #{$root}__container {
    max-width: 1362px;
    @include pc {
      padding-left: 58px;
    }
    @include tablet {
      padding-left: 24px;
    }
  }

  &__title {
    @include u-fz(24, 32);

    margin-bottom: 25px;
    font-family: $font-family-saira;

    @include pc {
      margin-bottom: 57px;

      @include u-fz(44, 50);
    }
    @include tablet {
      margin-bottom: convert-vw(57px);

      @include u-fz(44, 50, false, true);
    }
  }

  &__path {
    display: flex;
    justify-content: center;

    @include sp {
      flex-direction: column-reverse;
    }

    @include pc {
      flex-wrap: wrap;
      gap: 43px;
    }
    @include tablet {
      gap: convert-vw(43px);
    }
  }

  &__stage {
    position: relative;
    display: flex;
    gap: 6px;
    justify-content: center;
    padding: 12px 30px;
    background-color: get-color('white');
    border: 1px dotted get-color('border', 'black');
    border-radius: 7px;
    @include sp {
      width: 100%;
    }
    @include pc {
      width: auto;
    }

    &:before {
      position: absolute;
      display: block;
      width: 35px;
      height: 12px;
      content: '';
      background: url('/images/icon-arrow.svg') no-repeat center center/cover;
      @include sp {
        bottom: -28px;
        left: 50%;
        transform: translateX(-50%) rotate(-90deg);
      }
      @include pc {
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
      }
      @include tablet {
        left: convert-vw(-40px);
        width: convert-vw(35px);
        height: convert-vw(12px);
      }
    }

    &:first-child:before {
      display: none;
    }

    @include sp {
      margin-bottom: 43px;

      &:first-child {
        margin-bottom: 0;
      }
    }

    @include pc {
      gap: 24px;
      padding: 27px 17px;
    }
    @include tablet {
      gap: convert-vw(24px);
      padding: convert-vw(27px) convert-vw(17px);
    }

    @for $i from 1 through 5 {
      &.a-animated-block:nth-of-type(#{$i}n) {
        transition-delay: #{$delay-default + $i * 0.15};
      }
    }

    &--equal {
      #{$root}__job-title {
        &:before {
          width: 20px;
          height: 13px;
          background-image: url('/images/icon-equal.svg');
          @include pc {
            width: 26px;
          }
          @include tablet {
            width: convert-vw(26px);
            height: convert-vw(13px);
          }
        }
      }
    }
  }

  &__job-title {
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: $font-family-saira;
    font-weight: $font-weight-bold;
    text-align: center;
    white-space: nowrap;
    @include u-fz(16, 24, false, true);

    &:before {
      display: block;
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      content: '';
      background: url('/images/icon-arrow-bold.svg') no-repeat center center/cover;

      @include pc {
        width: 25px;
        height: 25px;
      }
    }

    &:first-child:before {
      display: none;
    }

    @include pc {
      @include u-fz(18, 27);

      gap: 24px;
    }

    @include tablet {
      @include u-fz(18, 27, false, true);

      gap: convert-vw(24px);

      &:before {
        width: convert-vw(18px);
        height: convert-vw(18px);
      }
    }
  }
}
