.m-category-list {
  $root: &;

  @mixin background {
    background-color: get-color('white');
    border: 1px solid get-color('border', 'light-blue');
    border-radius: 7px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 5%);
  }

  @include sp {
    position: relative;
  }

  @include pc {
    max-height: 400px;
    overflow-y: auto;
  }

  &__button {
    display: none;

    @include sp {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 18px 16px 17px;
      margin-bottom: 11px;
      font-weight: $font-weight-bold;
      color: get-color('primary');
      cursor: pointer;
      outline: none;

      @include background;

      @include u-fz(18, 27);

      & > .a-icon {
        position: absolute;
        right: 14px;
        width: 10px;
        height: 6px;
      }
    }
  }

  &__wrapper {
    @include sp {
      display: none;
    }

    &--open {
      @include sp {
        position: absolute;
        display: block;
        width: 100%;
        padding: 15px 17px 15px 19px;
        @include background;
      }
    }
  }

  &__item {
    border-top: 2px solid get-color('border', 'primary');
    transition: 0.3s all ease;

    &:last-child {
      border-bottom: 2px solid get-color('border', 'primary');
    }

    &--active {
      background: get-color('base', 'hint-of-yellow');
      border-color: get-color('green');

      #{$root}__label {
        color: get-color('green');
      }
      #{$root}__icon {
        background: get-color('green');

        .a-icon {
          color: get-color('white');
        }
      }
      & + #{$root}__item {
        border-top-color: get-color('green');
      }
      &:last-child {
        border-bottom: 2px solid get-color('green');
      }
    }

    &:hover {
      @include only-pc {
        border-color: get-color('green');

        #{$root}__label {
          color: get-color('green');
        }
        #{$root}__icon {
          background: get-color('green');

          .a-icon {
            color: get-color('white');
          }
        }
        & + #{$root}__item {
          border-top-color: get-color('green');
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0;
    cursor: pointer;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: get-color('base', 'white');
    transition: 0.3s all ease;

    .a-icon {
      width: 26px;
      height: 26px;
      color: get-color('green');
      transition: 0.3s all ease;
    }
  }

  &__label {
    flex: 1;
    padding: 0 12px;
    @include u-fz(18, 33, false, true);

    font-family: $font-family-saira;
    transition: 0.3s all ease;
  }

  &__amount {
    justify-self: flex-end;
    margin-left: auto;
    font-family: $font-family-encode-sans;
    font-weight: $font-weight-regular;
    color: get-color('text', 'gray');
    @include u-fz(18, 27, false, true);
  }
}
