.o-tech {
  $pc-width: 1440;
  $padding-right-pc: 65;
  $container-width-pc: 767;
  $image-width-pc: 609;
  $image-height-pc: 794;
  $content-width-pc: 590;
  $margin-left-sp: 25px;
  $root: &;
  word-break: break-word;

  padding: 0 0 53px;

  @include pc {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    padding: 152px 0 100px;
    background-image: url('/images/tech-background-img.jpg');
    background-repeat: no-repeat;
    background-size: calc(100% - (#{$padding-right-pc} / #{$pc-width} * 100%)) 100%;
  }
  @include sp {
    position: relative;
  }

  &:before {
    @include sp {
      position: absolute;
      top: 78px;
      bottom: 0;
      left: 0;
      z-index: get-zindex('background');
      width: 100vw;
      content: '';
      background-color: get-color('background');
      background-image: url('/images/tech-background-sp-top.jpg'), url('/images/tech-background-sp-bottom.jpg');
      background-repeat: no-repeat, no-repeat;
      background-position: top left, bottom right;
      background-size: 100% auto, 100% auto;
    }
  }

  &__container {
    @include pc {
      width: calc(#{$container-width-pc} / #{$pc-width} * 100%);
      height: 100%;
    }
  }

  &__title {
    margin: 0 0 35px #{$margin-left-sp};
    font-family: $font-family-saira;
    @include pc {
      margin: 0 0 98px calc(102 / #{$container-width-pc} * 100%);
    }
  }

  &__tech-list {
    padding: 48px 24px;
    background-color: get-color('white');
    @include pc {
      padding: calc(60 / #{$image-height-pc} * 100%) 0 calc(52 / #{$image-height-pc} * 100%)
        calc(25 / #{$container-width-pc} * 100%);
    }

    @include sp {
      margin-right: #{$margin-left-sp};
    }
  }

  &__tech-item {
    display: flex;
    margin-bottom: 51px;
    @include pc {
      width: calc(#{$content-width-pc} / #{$container-width-pc} * 100%);
      margin: 0 auto calc(110 / #{$image-height-pc} * 100%);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--showmore {
      #{$root}__tech-content {
        max-height: 100%;
        overflow: auto;
      }
      #{$root}__tech-button {
        .a-button__icon {
          transform: rotate(-90deg);
        }
      }
    }

    &--default {
      #{$root}__tech-content {
        max-height: 100%;
        overflow: auto;
      }
      #{$root}__tech-button {
        display: none;
      }
    }
  }

  &__tech-button {
    &:hover {
      @include only-pc {
        .a-button__icon {
          transform: translateY(2px) rotate(90deg);

          #{$root}__tech-item--showmore & {
            transform: translateY(-2px) rotate(-90deg);
          }
        }
      }
    }
  }

  &__content-wrapper {
    width: 100%;
    margin-top: 16px;
    @include pc {
      margin-top: 2%;
    }
  }

  &__logo-wrapper {
    flex: 0 0 calc(101px / 302px * 100%);
    margin-right: 13px;

    @include pc {
      flex: 0 0 calc(100px / 416px * 100%);
      margin-right: 19px;
    }
    @include tablet {
      margin-right: convert-vw(19);
    }
  }

  &__logo-image {
    @include aspect-ratio(101, 53);

    @include pc {
      @include aspect-ratio(135, 71);
    }
  }

  &__tech-title {
    margin-bottom: 11px;
    font-family: $font-family-saira;
    @include pc {
      @include u-fz(24, 32);

      margin-bottom: 16px;
    }
    @include tablet {
      margin-bottom: convert-vw(16);
    }
  }

  &__tech-content {
    max-height: 161px;
    margin-bottom: 24px;
    overflow: hidden;
    text-align: left;
    white-space: pre-line;
    @include u-fz(18, 27);

    @include pc {
      max-height: 81px;
    }
  }

  &__image-wrapper {
    margin-left: #{$margin-left-sp};

    @include pc {
      width: calc(#{$image-width-pc} / #{$pc-width} * 100%);
    }
  }

  &__image {
    @include aspect-ratio(351, 458);

    @include pc {
      @include aspect-ratio(609, 794);
    }

    img {
      @include transitions(transform, 25s $transition-cubic);
    }

    &.a-animated-fadein--animated {
      img {
        transform: scale(1.2);
      }
    }
  }
}
