@use 'sass:math';

.o-mission {
  $img-container-width-pc: 934;
  $img-width-pc: 730;
  $img-height-pc: 419;
  $pc-width: 1440;
  $bottom-pc: 133;
  $img-width-sp: 306;
  $img-height-sp: 175;
  $bottom-sp: 56;
  $sp-width: 375;

  @mixin image($img-width, $img-height, $bg-width, $bg-height, $bottom, $left) {
    bottom: calc(-#{$bottom} / #{$img-height} * 100%);
    left: calc(-#{$left} / #{$img-width} * 100%);
    width: calc(#{$bg-width} / #{$img-width} * 100%);
    height: calc(#{$bg-height} / #{$img-height} * 100%);
    letter-spacing: 0;
  }

  display: flex;
  padding-top: 37px;

  @include pc {
    min-height: 651px;
    padding-top: 39px;
  }

  @include tablet {
    min-height: convert-vw(651);
    padding-top: convert-vw(39);
  }
  &__text-align-justify{
    text-align: justify !important;
  }
  &__container {
    display: flex;

    @include pc {
      align-items: flex-start;
      padding-left: 50px;
      padding-right: 50px;
    }
    @include tablet {
      padding-left: 50px;
      padding-right: 50px;
      justify-content: end;
    }
    @include sp {
      flex-direction: column-reverse;
      padding: 0;
    }
  }
 
  &__img-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-left: 68px;

    @include pc {
      flex: 0 0 60%;
      width: 832px;
      padding-left: 102px;
    }

    @include tablet {
      width: convert-vw(832);
      padding-left: convert-vw(102);
    }

    @include sp {
      margin-top: 84px;
      margin-bottom: math.percentage(math.div($bottom-sp, $img-height-sp) * 0.75);
    }

    &:before {
      position: absolute;
      content: '';
      background: url('/images/mission-background-img.jpg') no-repeat;
      background-size: cover;
      @include image($img-width-sp, $img-height-sp, 301, 129, $bottom-sp, 69);

      @include pc {
        @include image($img-width-pc, $img-height-pc, 746, 310, $bottom-pc, 204);
      }
    }
  }

  &__image {
    @include aspect-ratio($img-width-sp, $img-height-sp);

    @include pc {
      @include aspect-ratio($img-width-pc, $img-height-pc);
    }
  }

  &__number {
    position: absolute;
    top: 0;
    left: 25px;
    font-family: $font-family-encode-sans;
    font-weight: $font-weight-semi-bold;
    color: get-color('green');
    transform: translate3d(0, -50%, 0);
    @include u-fz(74, 117, false);

    @include pc {
      top: -9px;
      left: 7px;
      @include u-fz(180, 286, false, true);
    }
    @include tablet {
      top: convert-vw(-9);
      left: convert-vw(7);
    }
  }

  &__content-wrapper {
    @include sp {
      padding-right: 24px;
      padding-left: 24px;
    }

    @include pc {
      width: 346px;
      padding-top: 60px;
      padding-left: 50px;
      flex: 0 0 40%;
    }

    @include tablet {
      width: convert-vw(346);
      padding-top: convert-vw(60);
      margin-left: convert-vw(50);
      padding-right: convert-vw(3);
    }
  }

  &__title {
    margin-bottom: 32px;
    font-family: $font-family-saira;

    @include pc {
      @include u-fz(32, 32, false, true);

      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: convert-vw(40);
    }

    &:after {
      @include tablet {
        width: convert-vw(68);
      }
    }
  }

  &__highlight {
    @include u-fz(20, 30);

    margin-bottom: 16px;
    font-weight: $font-weight-bold;
    text-align: justify;
    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    @include pc {
      @include u-fz(24, 28, false, true);

      margin-bottom: 19px;
    }

    @include tablet {
      word-break: auto-phrase;
      margin-bottom: convert-vw(19);
    }
  }

  &__content {
    @include u-fz(18, 27, false, true);

    font-weight: $font-weight-regular;
    text-align: justify;
    white-space: pre-line;
  }
}
