.o-about-hero {
  position: relative;
  @include pc {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: get-zindex('background');
    display: block;
    width: convert-vw(287);
    max-width: 287px;
    height: 100%;
    max-height: 900px;
    content: '';
    background: url('/images/about-background-img.jpg') no-repeat center center/cover;

    @include sp {
      display: none;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: get-zindex('background');
      width: convert-vw(59);
      min-width: 59px;
      height: 100%;
      content: '';
      background: url('/images/about-background-img.jpg') no-repeat center center/cover;
      @include sp-small {
        width: 39px;
        min-width: 39px;
      }
    }

    margin-bottom: 32px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;

    @include pc {
      flex-direction: column;
      width: convert-vw(972);
    }
  }

  &__title {
    position: relative;
    text-transform: uppercase;

    @include pc {
      margin-bottom: 59px;
    }

    @include tablet {
      margin-bottom: convert-vw(59);
    }

    @include sp {
      margin-left: 22px;
    }

    svg {
      width: 170px;
      @include pc {
        width: 408px;
      }
      @include tablet {
        width: convert-vw(408);
      }

      path {
        @for $i from 1 through 10 {
          &:nth-child(#{$i}n) {
            animation: dash 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
            animation-delay: #{0.8 + $i * 0.15}s;
          }
        }
      }
    }

    mask {
      mask-type: alpha;
    }
  }

  &__inner-title {
    margin-bottom: 46px;
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
    @include tablet {
      margin-bottom: convert-vw(46);
    }

    &:after {
      transition-delay: $transition-default * 3;
    }

    @include sp {
      @include u-fz(24, 32);
    }
  }

  &__intro {
    @include u-fz(18, 32, false, true);

    font-weight: $font-weight-regular;
    text-align-last: left;

    & .a-bgslide-text {
      span{
        word-break: auto-phrase;
      }
      &--green {
        font-size: 18px;
        font-style: normal;
        font-weight: $font-weight-bold;
        background: linear-gradient(get-color('light-green') 0 0);
        background-repeat: no-repeat;
        background-position: left bottom;
        -webkit-background-clip: content;
        background-clip: content;
        background-size: 100% 0;
        box-decoration-break: clone;
        @include tablet {
          @include u-fz(24, 36, false, true);
        }
      }

      &--animated {
        animation: highlight-slide 1s 2s both;
      }
    }
  }

  &__content {
    width: 100%;
    max-width: 618px;
    text-align: justify;
    text-align-last: left;
    white-space: pre-line;
    @include u-fz(16, 24, false, true);

    @include tablet {
      width: convert-vw(500);
    }

    @include sp {
      padding: 0 24px;
    }
  }

  &__content-wrapper {
    width: 100%;
    background: get-color('background') url('/images/about-img.jpg') no-repeat center center/contain;

    @include sp {
      height: convert-vw(418);
      min-height: 418px;
      max-height: 724px;
      margin-bottom: 0;
      background-image: url('/images/about-img-sp.jpg');
      background-position: bottom;
    }

    @include pc {
      width: calc(100% - 102px);
      padding: 89px 50px 133px 49px;
      margin-bottom: 30px;
    }

    @include tablet {
      width: calc(100% - (convert-vw(102)));
      padding: convert-vw(89) convert-vw(49) convert-vw(133) convert-vw(49);
      margin-bottom: convert-vw(30);
      margin-left: convert-vw(102);
    }
  }

  &__bg-title {
    font-family: $font-family-encode-sans;
    font-weight: $font-weight-black;
    color: get-color('text', 'white');
    text-align: center;
    pointer-events: none;
    writing-mode: vertical-rl;
    transform: scaleY(-1) scaleX(-1);
    @include u-fz(60, 72);

    @include pc {
      @include u-fz(150, 181, false, true);

      margin-top: convert-vw(8);
      margin-left: convert-vw(23);
    }
  }

  &__article {
    width: 100%;
    max-width: 476px;

    @include tablet {
      width: convert-vw(476);
    }

    @include sp {
      align-self: flex-end;
      max-width: 278px;
      padding: 24px 36px 0 0;
    }
    @include sp-small {
      max-width: calc(100vw - 39px);
      padding-left: 24px;
    }
  }
}
