.m-tabs {
  $root: &;
  .jp-alert{
    border: solid #8eb84a;
    border-width: 2px;
    border-radius: 7px;
    padding: 10px 16px;
    font-size: 12px;
    background: #f8feef;
    margin-bottom: 25px;
    line-height: 1.5;
  }
  &__tab-list {
    display: flex;
    margin-bottom: 10px;
    
    @include tablet {
      margin-bottom: convert-vw(10);
    }
    @include sp {
      margin-bottom: 16px;
    }
  }

  &__tab-title {
    // @include font-other(vi) {
    //   font-family: $font-family-saira;
    // }
    font-family: $font-family-saira;


    flex: 1;
    padding: 18px 5px;
    margin-left: 8px;
    font-weight: $font-weight-bold;
    color: rgba($color: get-color('primary'), $alpha: 20%);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: get-color('white');
    border-radius: 7px;

    @include pc {
      padding: 29px 15px;
      @include u-fz(24, 28, false, true);
    }

    @include tablet {
      padding: convert-vw(28) convert-vw(15);
    }

    @include sp {
      @include u-fz(18, 28);
    }

    @include sp-small {
      font-size: 14px;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &--active {
      color: get-color('white');
      background-color: get-color('green');

      &#{$root}__tab-title--closed-job {
        background-color: get-color('gray');
      }
    }
  }

  &__tab-wrapper {
    min-height: 450px;
    padding: 32px 80px 48px;
    background-color: get-color('white');
    border-radius: 7px 7px 0 0;

    @include tablet {
      min-height: convert-vw(450);
      padding: convert-vw(32) convert-vw(80) convert-vw(48);
    }

    @include sp {
      padding: 32px 18px 48px;
    }
  }

  &__tab-content {
    display: none;

    &--active {
      display: block;
    }
  }
}
