.o-blog-banner {
  position: relative;
  display: flex;
  overflow: hidden;
  background: url('/images/bg-blog-banner.jpg') no-repeat center center/cover;

  @include sp {
    height: 820px;
    background-image: url('/images/bg-blog-banner-sp.jpg');
  }

  &__bg-left {
    @include pc {
      flex: 0 0 102px;
      height: 900px;
      margin-top: -80px;
    }

    @include tablet {
      flex: 0 0 convert-vw(102);
      height: convert-vw(900);
    }

    @include sp {
      flex: 0 0 59px;
      height: 804px;
      margin-top: -80px;
    }

    @include sp-small {
      flex: 0 0 39px;
    }

    .a-image {
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    padding: 25px;
    @include pc {
      max-width: 1346px;
      padding: 32px 137px 129px 48px;
      margin: 0 auto;
    }

    @media (min-width: 1172px) and (max-width: 1437px) {
      max-width: 1335px;
      padding-right: 137px;
    }

    @include tablet {
      padding: convert-vw(32) convert-vw(137) convert-vw(129) convert-vw(48);
    }

    @include sp {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .a-image {
      @include pc {
        height: 100%;

        @include aspect-ratio(1152, 659);
      }
      @include sp {
        @include aspect-ratio(326, 201);
      }
    }
  }
}
