.o-benefit {
  padding: 51px 0 109px;
  word-break: break-word;
  @include pc {
    padding-top: 99px;
    padding-bottom: 137px;
  }
  @include tablet {
    padding-top: convert-vw(99);
    padding-bottom: convert-vw(137);
  }

  &__title {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
  }

  &__list {
    margin-top: 35px;

    @include pc {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      margin-top: 62px;
    }

    @include tablet {
      column-gap: convert-vw(30);
      margin-top: convert-vw(62);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 48px;
      @include pc {
        margin-bottom: 64px;
      }
      @include tablet {
        margin-bottom: convert-vw(64);
      }
    }
  }
}
