.o-footer {
  position: relative;
  padding: 32px 24px;
  font-family: $font-family-saira;
  font-weight: $font-weight-medium;
  color: get-color('text', 'white');
  background: get-color('primary');

  @include pc {
    padding: 48px 24px 33px;
  }
  @include tablet {
    padding: convert-vw(48) convert-vw(24) convert-vw(33);
  }

  &__scroll-top {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate3d(50%, -50%, 0);

    @include pc {
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    @include tablet {
      right: convert-vw(25);
    }
  }

  &__inner {
    margin: 0 auto;

    @include pc {
      position: relative;
      max-width: 1320px;
    }
  }

  &__menu {
    display: flex;

    @include pc {
      flex-wrap: wrap;
      max-width: 1100px;
    }

    @include sp {
      flex-direction: column;
      row-gap: 32px;
    }
  }

  &__menu-item {
    @include u-fz(20, 32, false, true);

    display: flex;

    @include pc {
      width: 510px;
    }

    @include tablet {
      width: convert-vw(492);
    }

    &:nth-child(n + 3) {
      @include pc {
        margin-top: 29px;
      }
      @include tablet {
        margin-top: convert-vw(29);
      }
    }

    &:nth-child(odd) {
      @include pc {
        width: 558px;
        padding-right: 24px;
      }

      @include tablet {
        width: convert-vw(558);
        padding-right: convert-vw(24);
      }
    }
  }

  &__menu-icon {
    @include u-fz(32, 32, false, true);

    margin-top: -3px;
    margin-right: 12px;
    @include tablet {
      margin-top: convert-vw(-3);
      margin-right: convert-vw(12);
    }

    .a-icon {
      color: get-color('text', 'gray');
    }
  }

  &__title {
    @include u-fz(14, 17, false, true);

    margin-bottom: 16px;
    font-weight: $font-weight-semi-bold;
    color: get-color('text', 'gray');

    @include pc {
      margin-bottom: 12px;
    }

    @include tablet {
      margin-bottom: convert-vw(12);
    }
  }

  &__social {
    display: flex;

    @include sp {
      margin: 0 auto;
    }
  }

  &__social-item {
    @include u-fz(64, 0);

    @include pc {
      @include u-fz(48, 0, false, true);
    }

    &:hover {
      @include only-pc {
        .a-icon {
          color: get-color('green');
        }
      }
    }

    &:not(:last-child) {
      @include pc {
        margin-right: 2px;
      }

      @include tablet {
        margin-right: convert-vw(2);
      }
    }

    & > a {
      display: block;
    }

    .a-icon {
      color: get-color('white');
      @include transitions(color, 0.3s ease);
    }
  }

  &__menu-content {
    .text-underline {
      text-decoration: underline;
    }
    .mt-12 {
      margin-top: 12px;
    }
    a {
      @include transitions(color, 0.3s $transition-cubic);

      &:hover {
        @include pc {
          color: get-color('green');
        }
      }
    }
  }

  &__copyright {
    @include u-fz(14, 22);

    font-weight: $font-weight-regular;
    color: get-color('text', 'gray');

    .policy-link {
      color: rgb(142, 184, 74);
    }

    @include sp {
      margin-top: 10px;
      margin-right: -10px;
      margin-left: -10px;
      text-align: center;
    }

    @include pc {
      margin-top: 18px;
      @include u-fz(14, 17, false, true);
    }
    @include tablet {
      margin-top: convert-vw(18);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    margin-top: 31px;

    @include pc {
      flex-direction: row-reverse;
      column-gap: 24px;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 16px;
    }

    @include tablet {
      column-gap: convert-vw(24);
      margin-top: convert-vw(16);
    }
  }
}

#fb-root .fb_dialog.fb_dialog_advanced .fb_dialog_content iframe {
  opacity: 0 !important;
}