.o-highlight-work {
  $root: &;

  padding-bottom: 48px;
  word-break: break-word;

  &__banner {
    position: relative;
    z-index: get-zindex('neutral');

    .a-image {
      @include aspect-ratio(375, 275);

      @include pc {
        @include aspect-ratio(1440, 420);
      }
    }
  }

  &__title {
    white-space: pre-line;

    @include font-other(vi) {
      font-family: $font-family-saira;
    }
    @include pc {
      max-width: 100%;
      margin-bottom: 32px;
    }
    @include tablet {
      margin-bottom: convert-vw(32);
    }
  }

  &__container {
    position: relative;
    z-index: get-zindex('foreground');
  }

  &__wrapper {
    position: relative;
    padding: 50px 32px;
    background-color: get-color('white');
    border: 1px solid get-color('border', 'primary');
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0 0 0 / 5%);

    @include pc {
      padding: 65px 77px 39px;
      margin-top: -123px;
    }

    @include tablet {
      padding: convert-vw(65) convert-vw(77) convert-vw(39);
      margin-top: convert-vw(-123);
      box-shadow: 0 convert-vw(15) convert-vw(35) rgba(0 0 0 / 5%);
    }

    @include sp {
      position: relative;
      margin-top: convert-vw(-80);
    }

    &:after {
      position: absolute;
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
      z-index: get-zindex('background');
      content: '';
      border: 8px solid transparent;
      border-radius: 24px;
      @include transitions(border-color, 0.3s ease);
    }

    &:hover {
      @include only-pc {
        &:after {
          border-color: get-color('green');
        }
      }
    }
  }

  &__list {
    & > .m-definition {
      &:last-child {
        padding-bottom: 0;
      }
    }

    @include sp {
      display: none;
      margin-top: 48px;
    }

    #{$root}--show-more & {
      @include sp {
        display: block;
      }
    }
  }

  &__logo-list {
    display: flex;
    flex-wrap: wrap;
    @include pc {
      max-width: 867px;
      margin: 0 auto;
    }
  }

  &__logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 6px;
    @include pc {
      width: 20%;
      padding: 12px;
    }
  }

  &__logo-image {
    width: 69px;
    height: 36px;
    @include pc {
      width: 191px;
      height: 100px;
    }
    @include tablet {
      width: convert-vw(191);
      height: convert-vw(100);
    }
  }

  &__more-detail {
    @include pc {
      display: none;
    }

    @include sp {
      position: absolute;
      bottom: -24px;
      left: 50%;
      width: 48px;
      height: 48px;
      cursor: pointer;
      background-color: get-color('white');
      border: none;
      border-radius: 100%;
      box-shadow: 0 15px 35px rgba(0 0 0 / 5%);
      transform: translateX(-50%);
    }

    .a-icon {
      transform: rotate(90deg);
    }

    #{$root}--show-more & {
      .a-icon {
        transform: rotate(-90deg);
      }
    }
  }
}
