.m-blog-navigator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__next {
    white-space: nowrap;

    & > .a-button__icon {
      flex-shrink: 0;
      margin-left: 8px;
    }
  }

  &__pre {
    white-space: nowrap;

    & > .a-button__icon {
      flex-shrink: 0;
      margin-right: 8px;
      @include sp {
        margin-left: 0;
      }
    }

    @include sp {
      margin-right: 80px;
    }
  }

  &__center {
    flex: 0 0 100px;
    align-items: center;
    justify-content: center;
    padding: 11px 20px 10px;
    margin: 0 12px;
    font-family: $font-family-saira;

    @include transitions(background-color, 0.3s $transition-cubic);

    @include sp {
      position: absolute;
      top: 48px;
      width: 262px;
    }

    @include pc {
      flex: 0 0 172px;
      margin: 0 48px;
    }

    @include tablet {
      flex: 0 0 convert-vw(172);
      margin: 0 convert-vw(48);
    }
    @include sp-small {
      max-width: 100%;
    }

    &:hover {
      @include only-pc {
        background-color: get-color('green');
      }
    }
  }
}
