.o-promise {
  &__title {
    margin-bottom: 35px;
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
    @include sp {
      white-space: pre-wrap;
      text-align: center;
    }
    @include pc {
      margin-bottom: 62px;
      text-align: center;
    }
    @include tablet {
      margin-bottom: convert-vw(62);
    }
  }

  &__items {
    display: flex;
    gap: 32px 28px;

    @include tablet {
      column-gap: convert-vw(28);
    }

    @include sp {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1 1 100%;

    .m-block-promise {
      height: 100%;
    }
  }
}
