.p-service {
  &__company {
    margin-top: 51px;

    @include pc {
      margin-top: 100px;
    }
    @include tablet {
      margin-top: convert-vw(100);
    }
  }

  &__tech {
    margin-top: 27px;

    @include pc {
      margin-top: -147px;
    }
    @include tablet {
      margin-top: convert-vw(-147);
    }
  }

  &__process {
    margin-top: 48px;
    @include pc {
      margin-top: 49px;
    }
    @include tablet {
      margin-top: convert-vw(49);
    }
  }

  .o-service-hero__item {
    @include sp {
      white-space: nowrap;
    }
  }
}

.p-notfound {
  &__content {
    font-family: Saira,sans-serif;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 44px;
      font-weight: 700;
      line-height: 1.2727272727;
    }
  }
}