.o-service-hero {
  $width-pc-large: 1440px;

  position: relative;
  display: flex;
  word-break: break-word;

  // MEMO: FIX LAYOUT LATER
  @include pc {
    background-color: get-color('base', 'white');
  }

  &__bg {
    @include pc {
      flex: 0 0 102px;
      height: 820px;
    }

    @include tablet {
      flex: 0 0 convert-vw(102);
    }

    @include sp {
      flex: 0 0 59px;
      height: 724px;
    }

    @include sp-small {
      flex: 0 0 39px;
    }

    .a-image {
      height: 100%;
    }
  }

  &__content {
    @include pc {
      flex: 1;
      margin-left: 50px;
      max-width: 581px;
    }
    @include pc-large {
      position: relative;
      max-width: $width-pc-large;
      padding-left: 50px;
      margin: 0 auto 0 calc((100% - $width-pc-large) / 2 - 102px);
    }
    @include tablet {
      margin-left: convert-vw(50);
      max-width: convert-vw(581);
    }
    @include sp {
      display: flex;
      flex: auto;
      flex-direction: column;
      padding: 0 16px 303px;
      background-color: get-color('base', 'white');
    }
  }
  &.custom-4 {
    .o-service-hero__content {
      @include sp {
        display: flex;
        flex: auto;
        flex-direction: column;
        padding: 0 16px 362px;
        background-color: get-color('base', 'white');
      }
    }
    
  }
  &.custom-5 {
    .o-service-hero__content {
      @include sp {
        display: flex;
        flex: auto;
        flex-direction: column;
        padding: 0 16px 445px;
        background-color: get-color('base', 'white');
      }
    }
    
  }
  &.custom-6 {
    .o-service-hero__content {
      @include sp {
        display: flex;
        flex: auto;
        flex-direction: column;
        padding: 0 16px 526px;
        background-color: get-color('base', 'white');
      }
    }
    
  }


  &__text {
    margin-top: 25px;
    text-align: justify;
    @include sp {
      padding: 0 10px;
      word-break: break-word;
    }
    @include pc {
      word-break: break-word;
      max-width: 581px;
      margin-top: 46px;
    }
    @include tablet {
      max-width: convert-vw(581);
      margin-top: convert-vw(46);
    }
  }

  &__big-title,
  &__title {
    @include pc {
      position: relative;
      z-index: get-zindex('foreground');
    }
  }

  &__title {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
    @include sp {
      margin-left: 10px;
    }

    &:after {
      transition-delay: $transition-default * 3;
    }
  }

  &__big-title {
    margin-top: 22px;
    margin-bottom: 18px;
    @include sp {
      margin-left: 4px;
    }

    @include pc {
      margin-top: 89px;
      margin-bottom: 54px;
    }

    svg {
      width: 222px;
      @include pc {
        width: 533px;
      }
      @include tablet {
        width: convert-vw(533);
      }

      path {
        @for $i from 1 through 10 {
          &:nth-child(#{$i}n) {
            animation: dash 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
            animation-delay: #{0.8 + $i * 0.15}s;
          }
        }
      }
    }

    mask {
      mask-type: alpha;
    }
  }

  &__image {
    @include pc {
      position: absolute;
      top: 0;
      right: 65px;
      z-index: get-zindex('neutral');
      width: calc(100% - 831px);
      max-width: 609px;
      height: 820px;
    }

    @include tablet {
      right: convert-vw(65);
      width: calc(100% - convert-vw(831));
    }

    @include sp {
      align-self: flex-end;
      width: calc(100vw - 59px);
      height: 312px;
      margin: 0 -16px 23px;
    }
    @include sp-small {
      width: calc(100vw - 39px);
    }

    .a-image {
      height: 100%;
    }
  }

  &__items {
    position: absolute;
    bottom: 48px;
    @include sp {
      width: calc(100% - 50px);
      margin: 0 25px;
    }
    @include pc {
      right: 127px;
      bottom: 140px;
      left: 150px;
      display: flex;
      gap: 28px;
      justify-content: center;
    }
    @include tablet {
      right: convert-vw(100);
      bottom: convert-vw(140);
      left: convert-vw(100);
      gap: convert-vw(28);
      margin-left: convert-vw(12);
      margin-left: 0;
      transform: none;
    }
  }
  &__item .br-tablet-only{
    display: none;
  }
  @include tablet {
    &__item .br-tablet-only{
      display: inline-block;
    }
  }
  &__item{
    word-break: auto-phrase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 12px;
    overflow: hidden;
    font-weight: $font-weight-bold;
    color: get-color('green');
    text-align: center;
    background: get-color('white');
    border: 1px solid get-color('border', 'primary');
    border-radius: 7px;
    box-shadow: 0 15px 35px rgba(0 0 0 / 5%);
    @include u-fz(20, 28);
    @include transitions(background-color border-color, 0.3s ease);
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
    @include sp {
      width: 100%;
    }
    @include pc {
      width: 369px;
      @include u-fz(20, 24);

      padding: 23px 12px;
      background-color: get-color('white');
    }
    @include tablet {
      width: convert-vw(369);
      padding: convert-vw(25) convert-vw(38);
      box-shadow: 0 convert-vw(15) convert-vw(35) rgba(0 0 0 / 5%);
    }

    &:hover {
      @include only-pc {
        background-color: get-color('base', 'hint-of-yellow');
        border-color: get-color('base', 'hint-of-yellow');
      }
    }

    &:not(:last-child) {
      @include sp {
        margin-bottom: 16px;
      }
    }
  }
}
