.o-form-thankyou {
  $root: &;

  &__title {
    margin-top: 21px;
    color: get-color('green');
    text-align: center;
    @include u-fz(24, 32, false, true);
    @include pc {
      margin-top: 42px;
      @include u-fz(36, 36, false, true);
    }
  }

  &__text {
    position: relative;
    padding-left: 16px;
    margin-top: 29px;
    font-weight: $font-weight-regular;
    color: get-color('text', 'primary');
    @include u-fz(18, 27, false, true);
    @include pc {
      margin-top: 32px;
      text-align: center;
    }
  }

  &__image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
}
