.a-button {
  $root: &;

  @include u-fz(18, 21, false, true);

  display: inline-flex;
  align-items: center;
  font-weight: $font-weight-bold;
  color: get-color('green');
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &--link {
    display: inline;

    &:hover {
      @include only-pc {
        text-decoration: underline;
      }
    }
  }

  &--fill {
    padding: 13px 20px;
    border-radius: 5px;
    @include u-fz(16, 20, false, true);
  }

  &--green {
    color: get-color('button', 'inverse');
    background-color: get-color('green');
  }

  &--black {
    color: get-color('button', 'inverse');
    background-color: get-color('primary');
  }

  &__icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 8px;
    background: url('/images/icon-arrow-right.svg') no-repeat center center/contain;
    @include transitions(transform, 0.3s ease);

    #{$root}--arrow-down & {
      margin-left: 16px;
      transform: rotate(90deg);
    }
    #{$root}--arrow-left & {
      transform: rotate(180deg);
    }
  }

  &:hover:not(.a-button--arrow-down, .a-button--arrow-left) {
    #{$root}__icon {
      @include only-pc {
        transform: translateX(8px);
      }
    }
  }

  &--arrow-left:hover {
    #{$root}__icon {
      @include only-pc {
        transform: rotate(180deg) translateX(8px);
      }
    }
  }
}
