.m-procedure {
  $root: &;

  display: flex;
  gap: 32px;

  @include tablet {
    gap: convert-vw(32px);
  }
  @include sp {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    flex: 1 1 100%;

    &:first-child {
      #{$root}__content {
        &:before {
          display: none;
        }
      }
    }

    @include sp {
      flex: 0 1 auto;
      @include font-other(vi) {
        &:nth-of-type(2) {
          #{$root}__content {
            &:before {
              left: -38px;
            }
          }
        }
      }
    }
  }

  &__image {
    width: 48px;
    height: 48px;
    margin: 0 auto 4px;

    @include pc {
      width: 72px;
      height: 72px;
      margin-bottom: 14px;
    }

    @include tablet {
      width: convert-vw(72px);
      height: convert-vw(72px);
      margin: 0 auto convert-vw(14px);
    }
  }

  &__content {
    @include u-fz(16, 27);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-medium;
    text-align: center;
    word-break: auto-phrase;

    @include pc {
      // height: calc(100% - 72px - 16px);
      height: auto;
      padding: 10px 14px;
      border: 2px dotted get-color('border', 'black');
      border-radius: 7px;
    }

    @include tablet {
      @include u-fz(14, 27, false, false);

      height: calc(100% - convert-vw(72px) - convert-vw(16px));
      padding: convert-vw(7px) convert-vw(15px);
    }

    @include sp {
      flex-direction: column;
      @include u-fz(12, 18);
    }

    &:before {
      position: absolute;
      width: 24px;
      height: 4px;
      content: '';
      background: url('/images/icon-arrow-thin.svg') no-repeat center right/cover;
      @include pc {
        left: -30px;
      }
      @include tablet {
        left: convert-vw(-30px);
        width: convert-vw(24px);
      }
      @include sp {
        // top: -28px;
        left: -28px;
      }
    }
  }
}
