.o-blog-content {
  $gaps-column: (70, 12);
  h1 {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    position: relative;
    padding-left: 12px;
    margin-bottom: 24px;
    color: get-color('green');
    @include u-fz(28, 32);

    @include pc {
      padding-left: 28px;
      margin-bottom: 37px;
      @include u-fz(44, 40);
    }

    @include tablet {
      padding-left: 15px;
      @include u-fz(44, 40, false, true);
    }

    &:before {
      position: absolute;
      left: 0;
      width: 4px;
      height: 36px;
      content: '';
      background-color: get-color('green');

      @include pc {
        top: -1px;
        height: 44px;
      }
      @include tablet {
        top: convert-vw(-1);
        height: convert-vw(44);
      }
    }
  }
  h2 {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    position: relative;
    padding-left: 12px;
    margin-bottom: 24px;
    color: get-color('green');
    @include u-fz(24, 32);

    @include pc {
      padding-left: 28px;
      margin-bottom: 37px;
      @include u-fz(40, 36);
    }

    @include tablet {
      padding-left: 15px;
      @include u-fz(40, 36, false, true);
    }

    &:before {
      position: absolute;
      left: 0;
      width: 4px;
      height: 32px;
      content: '';
      background-color: get-color('green');

      @include pc {
        top: -1px;
        height: 40px;
      }
      @include tablet {
        top: convert-vw(-1);
        height: convert-vw(40);
      }
    }
  }

  h3 {
    position: relative;
    padding-left: 12px;
    margin-bottom: 22px;
    color: get-color('green');
    @include u-fz(22, 33);

    @include pc {
      padding-left: 20px;
      margin-bottom: 12px;
      @include u-fz(28, 42);
    }

    @include tablet {
      padding-left: 15px;
      @include u-fz(28, 42, false, true);

      margin-bottom: convert-vw(12px);
    }

    &:before {
      position: absolute;
      top: 8px;
      left: 0;
      width: 4px;
      height: 20px;
      content: '';
      background-color: get-color('green');

      @include pc {
        top: 10px;
        height: 26px;
      }

      @include tablet {
        top: convert-vw(10px);
        height: convert-vw(26px);
      }
    }

    @include font-other(vi) {
      font-family: $font-family-saira;

      &:before {
        top: 6px;
        @include pc {
          top: 8px;
        }
        @include tablet {
          top: convert-vw(8px);
        }
      }
    }
  }

  h4 {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    margin-bottom: 24px;
    font-weight: $font-weight-regular;
    @include u-fz(24, 32);

    @include pc {
      margin-bottom: 46px;
      @include u-fz(24, 36, false, true);
    }
    @include tablet {
      margin-bottom: convert-vw(46);
    }
  }
  h5 {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    margin-bottom: 24px;
    font-weight: $font-weight-regular;
    @include u-fz(20, 28);

    @include pc {
      margin-bottom: 46px;
      @include u-fz(20, 32, false, true);
    }
    @include tablet {
      margin-bottom: convert-vw(46);
    }
  }
  h6 {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    margin-bottom: 24px;
    font-weight: $font-weight-regular;
    @include u-fz(16, 24);

    @include pc {
      margin-bottom: 46px;
      @include u-fz(20, 32, false, true);
    }
    @include tablet {
      margin-bottom: convert-vw(46);
    }
  }

  p {
    margin-bottom: 24px;
    @include u-fz(16, 27, false, true);

    @include pc {
      @include u-fz(18, 27);

      margin-bottom: 46px;
    }
    @include tablet {
      margin-bottom: convert-vw(46);
      @include u-fz(18, 27, false, true);
    }
  }
  // MEMO: only for demo
  .u-column-2 {
    display: flex;
    justify-content: stretch;
    @include u-fz(18, 27);

    @include sp {
      flex-direction: column;
    }

    @each $gap-size in $gaps-column {
      &[data-gap='#{$gap-size}'] {
        column-gap: $gap-size + px;
      }
    }
  }

  mark {
    font-weight: bold;
    color: get-color('green');
    background-color: transparent;
    word-break: break-word;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  video{
    width: 100%;
  }

  .wp-block-image {
    margin: 24px auto;
    max-width: 720px;
    max-height: 100%;
  }

  .has-text-align-center {
    text-align: center;
  }
  .has-text-align-left {
      text-align: left;
  }
  .has-text-align-right {
      text-align: right;
  }
  .u-italic{
      font-style:italic
  }
  .u-video{
      position:relative;
      height:0;
      padding-bottom:56.25%
  }
  .u-video iframe{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      border:none
  }
  .u-align-center{
      display:block;
      width:80%;
      margin:24px auto
  }

  .wp-block-quote {
    position: relative;
    z-index: get-zindex('foreground');
    padding: 22px 22px 40px;
    margin: 52px 0 41px;
    font-weight: $font-weight-bold;
    color: get-color('green');
    background: #ffffff;
    border: 1px solid get-color('border', 'primary');
    border-radius: 7px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 5%);
    @include u-fz(24, 32, false, true);
    @include pc {
      max-width: 80vw;
      padding: 27px 70px;
      margin: 48px 0 27px;

      @include font-other(ja) {
        padding: 36px 60px;
      }
    }
    @include tablet {
      max-width: convert-vw(792);
      padding: convert-vw(18) convert-vw(70) convert-vw(36);
      margin: convert-vw(48) 0 convert-vw(27);
    }

    &:before,
    &:after {
      position: absolute;
      z-index: get-zindex('background');
      width: 49px;
      height: 32px;
      content: '';
      @include pc {
        width: 74px;
        height: 49px;
      }
      @include tablet {
        width: convert-vw(76);
        height: convert-vw(49);
      }
    }

    &:before {
      top: -23px;
      left: -2px;
      background: url('~images/icons/quote-open.svg') no-repeat center center/contain;
      @include pc {
        top: -24px;
        left: -13px;
      }
      @include tablet {
        top: convert-vw(-24);
        left: convert-vw(-13);
      }
    }

    &:after {
      right: 0;
      bottom: -10px;
      background: url('~images/icons/quote-close.svg') no-repeat center center/contain;
      @include pc {
        right: -12px;
        bottom: -13px;
      }
      @include tablet {
        right: convert-vw(-12);
        bottom: convert-vw(-13);
      }
    }
  }

  // MEMO: only for demo
  .u-center {
    text-align: center;
  }

  .u-italic {
    font-style: italic;
  }

  .u-video {
    position: relative;
    height: 0;
    @include aspect-ratio(16, 9);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .u-align-center {
    display: block;
    width: 80%;
    margin: 24px auto;
    @include sp {
      width: 100%;
    }
  }

  .u-work-break {
    word-break: break-word;
    word-wrap: break-word;
  }

  dt {
    @include u-fz(20, 30);

    margin-bottom: 10px;
    font-weight: $font-weight-bold;

    @include tablet {
      @include u-fz(20, 30, false, true);
    }
  }

  dd {
    @include u-fz(18, 27);

    margin-bottom: 32px;
    white-space: pre-line;

    @include tablet {
      @include u-fz(18, 27, false, true);
    }
  }

  a {
    color: get-color('green');
    border-bottom: 1px solid get-color('green');

    &:hover {
      @include only-pc {
        border: none;
      }
    }
  }

  .wp-block-audio {
    display: block;
    min-height: 100px;
  }
}
