.o-blog-related {
  $root: &;

  @include pc {
    display: flex;
  }

  &__bg-title {
    font-family: $font-family-encode-sans;
    font-weight: $font-weight-black;
    color: get-color('text', 'white');

    @include u-fz(60, 60);

    @include sp {
      margin: 0 0 5px 25px;
    }

    @include pc {
      @include u-fz(150, 180, false, true);

      writing-mode: vertical-lr;
      transform: scaleY(-1) scaleX(-1);
    }
  }

  &__title {
    margin-bottom: 30px;

    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    @include pc {
      margin-bottom: 48px;
    }

    @include tablet {
      margin-bottom: convert-vw(50);
    }
  }

  &__wrapper {
    padding: 53px 24px 49px;
    background: url('/images/bg-blog-related.jpg') no-repeat center center/cover;

    @include sp {
      background-image: url('/images/bg-blog-related-sp.jpg');
    }

    @include pc {
      flex: 1 1 auto;
      padding: 196px 230px 62px 50px;
    }

    @include tablet {
      padding: convert-vw(196) convert-vw(230) convert-vw(62) convert-vw(50px);
    }
  }

  &__content {
    @include pc {
      width: 100%;
      max-width: 820px;
      margin: 0 auto;
    }
  }

  &__blog-banner {
    display: block;
    margin-top: 32px;
    overflow: hidden;

    @include pc {
      display: flex;
      margin-top: 25px;
    }

    @include tablet {
      margin-top: convert-vw(25);
    }

    &:hover {
      @include only-pc {
        #{$root}__blog-title {
          color: get-color('green');
        }

        #{$root}__blog-img {
          & > .a-image {
            img {
              transform: scale(1.03);
            }
          }
        }
      }
    }
  }

  &__blog-img {
    @include pc {
      flex: 0 0 288px;
    }

    @include tablet {
      flex: 0 0 convert-vw(288);
    }

    & > .a-image {
      height: 100%;
      overflow: hidden;
      border-radius: 16px 16px 0 0;
      @include aspect-ratio(326, 197);

      @include pc {
        border-radius: 16px 0 0 16px;
        -webkit-mask-image: radial-gradient(get-color('white'), get-color('black'));
        @include aspect-ratio(288, 180);
      }

      @include tablet {
        border-radius: convert-vw(16) 0 0 convert-vw(16);
      }
    }

    img {
      @include transitions(transform, 0.3s $transition-cubic);
    }
  }

  &__blog-content {
    flex: 1 1 100%;
    padding: 27px 32px 32px;
    background-color: get-color('white');
    border: 1px solid get-color('border', 'primary');
    border-radius: 0 0 16px 16px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 5%);

    @include pc {
      padding: 44px 105px 40px 58px;
      border-radius: 0 16px 16px 0;
    }

    @include tablet {
      padding: convert-vw(44) convert-vw(105) convert-vw(40) convert-vw(58);
      border-radius: 0 convert-vw(16) convert-vw(16) 0;
    }
  }

  &__blog-title {
    display: -webkit-box;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include tablet {
      height: convert-vw(80);
    }
    @include u-fz(18, 27);
    @include transitions(color, 0.3s $transition-cubic);
    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    margin-top: 15px;

    @include tablet {
      @include u-fz(18, 27, false, true);
    }
  }

  &__date {
    margin-right: 10px;
    font-family: $font-family-encode-sans;
    font-weight: $font-weight-semi-bold;
    color: get-color('text', 'gray');

    @include pc {
      margin-right: 16px;
    }

    @include tablet {
      margin-right: convert-vw(16);
      @include u-fz(16, 20, false, true);
    }
  }

  &__topic {
    font-family: $font-family-encode-sans;
    font-weight: $font-weight-bold;

    @include tablet {
      @include u-fz(16, 20, false, true);
    }
  }
}
