@import './fontsfamily';

// Font Family Resources
$font-family-saira: 'Saira', sans-serif;
$font-family-encode-sans: 'Encode Sans', sans-serif;
$font-family-noto-sans: 'Noto Sans JP', sans-serif;

// Font Weight Resources
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;
