// MEMO: KEYFRAME SLIDE BACKGROUND IN

@keyframes fr-1 {
  to {
    background-size: 150% 100%;
    opacity: 100%;
  }
}

// MEMO: KEYFRAME SLIDE BACKGROUND OUT
@keyframes fr-2 {
  to {
    background-position: -200% 0, 0 0;
  }
}

// MEMO: OPTIONAL EFFECT 2 FOR ABOUT HERO HIGHLIGHT TEXT
@keyframes fr-3 {
  to {
    color: #0e1214;
  }
}

// MEMO: KEYFRAME BACKGROUND TEXT
@keyframes textclip {
  0% {
    background-position: 0% 0, 0 0;
  }

  50% {
    background-position: 100% 0, 0 0;
  }

  100% {
    background-position: 0% 0, 0 0;
  }
}

// MEMO: KEYFRAME DRAW LINE

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

// MEMO: KEYFRAME FADEIN
@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

// MEMO: KEYFRAME FADEIN
@keyframes fade-in-up {
  0% {
    opacity: 0%;
    transform: translateY(50px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

// MEMO: KEYFRAME ZOOMIN
@keyframes zoom-in {
  0% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(1);
  }
}

// MEMO: KEYFRAME SLIDE BACKGROUND HIGHLIGHT
@keyframes highlight-slide {
  to {
    background-size: 100% 10px;
  }
}
