$zindex: (
  background: -1,
  neutral: 0,
  foreground: 1,
  filterlist: 100,
  stickybuttons: 200,
  globalheader: 300,
  menu: 400,
  popup: 500,
  modal: 600,
  loading: 700,
  stickychat: 800,
);
