@use 'sass:math';

.o-ceo-message {
  $root: &;

  &__heading {
    @include pc {
      position: relative;
      padding-top: 22px;
    }
    @include tablet {
      padding-top: convert-vw(22);
    }

    &.o-container {
      @include pc {
        max-width: 1300px;
      }
    }
  }

  &__title {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
  }

  &__label {
    display: block;
    font-family: $font-family-encode-sans;
    font-weight: $font-weight-black;
    color: get-color('text', 'white');
    @include u-fz(60, 60, false, true);
    @include sp {
      margin-top: 13px;
    }
    @include pc {
      position: absolute;
      top: 0;
      right: 0;
      z-index: get-zindex('background');
      @include u-fz(150, 150, false, true);
    }
  }

  &__body {
    @include font-other(vi) {
      font-family: $font-family-saira;
    }

    overflow: hidden;
    @include pc {
      position: relative;
      z-index: get-zindex('foreground');
      padding-top: 59px;
      margin-top: 89px;
      background-color: get-color('background');
    }
    @include tablet {
      padding-top: convert-vw(59);
      margin-top: convert-vw(89);
    }

    &:before,
    &:after {
      @include pc {
        position: absolute;
        z-index: get-zindex('background');
        width: 100vw;
        height: 100%;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' transform='scale(2)'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='hsla(0, 0%25, 100%25, 0)'/%3E%3Cpath d='M0 10h20z' stroke-width='1' stroke='hsla(259, 0%25, 100%25, 1)' fill='none'/%3E%3C/svg%3E");
      }
    }

    &:before {
      @include pc {
        bottom: 98%;
        left: 19%;
        transform: rotate(17deg);
      }
    }

    &:after {
      @include pc {
        top: 86.2%;
        left: 20%;
        transform: rotate(-12.7deg);
      }
    }

    &__ja {
      white-space: normal;
    }
  }

  &__image {
    @include sp {
      width: 100%;
      margin-top: 6px;
      margin-bottom: 30px;
      @include aspect-ratio(375, 300);
    }
    @include pc {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: get-zindex('foreground');
      width: 1991px;
      height: 1327px;
      margin-left: 898px;
      transform: translateX(-50%);
    }
    @include tablet {
      width: convert-vw(1991);
      height: convert-vw(1327);
      margin-left: convert-vw(898);
    }
  }

  &__list {
    position: relative;

    @include sp {
      padding: 0 24px;
      margin: 30px -24px 29px;
    }
    @include pc {
      max-width: 791px;
      margin-top: 16px;
      margin-bottom: 42px;
    }
    @include tablet {
      max-width: convert-vw(791);
      margin-top: convert-vw(16);
      margin-bottom: convert-vw(42);
    }

    &:before {
      @include sp {
        position: absolute;
        top: 0%;
        left: 0;
        z-index: get-zindex('background');
        width: 100%;
        height: 500vh;
        content: '';
        background: get-color('base', 'white');
        background-attachment: fixed;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 0;
    @include pc {
      min-height: 62px;
      padding: 4px 9px;
    }
    @include tablet {
      min-height: convert-vw(62);
      padding: convert-vw(4) convert-vw(9);
    }

    &:nth-child(even) {
      background: get-color('white');
    }
    .o-ceo-message__icon {
      margin-right: 12px !important;
    }

    .a-text {
      @include u-fz(18, 27, false, true);

      flex: 1;
      color: currentColor;
    }

    .a-icon {
      width: 72px;
      height: 72px;
      margin-right: 12px;
      color: get-color('green');
      @include tablet {
        width: convert-vw(72);
        height: convert-vw(72);
        margin-right: convert-vw(12);
      }
    }
  }

  &__quote {
    position: relative;
    z-index: get-zindex('foreground');
    padding: 22px 22px 40px;
    margin: 52px 0 41px;
    font-weight: $font-weight-bold;
    color: get-color('green');
    background: #ffffff;
    border: 1px solid get-color('border', 'primary');
    border-radius: 7px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 5%);
    white-space: pre-wrap;
    text-align: center;
    font-size: 22px !important;
    @include u-fz(24, 32, false, true);
    @include pc {
      max-width: 792px;
      padding: 27px 70px;
      margin: 48px 0 27px;
      text-align: center;

      @include font-other(ja) {
        padding: 36px 60px;
      }
    }
    @include tablet {
      max-width: convert-vw(792);
      padding: convert-vw(18) convert-vw(70) convert-vw(36);
      margin: convert-vw(48) 0 convert-vw(27);
    }

    &:before,
    &:after {
      position: absolute;
      z-index: get-zindex('background');
      width: 49px;
      height: 32px;
      content: '';
      @include pc {
        width: 74px;
        height: 49px;
      }
      @include tablet {
        width: convert-vw(76);
        height: convert-vw(49);
      }
    }

    &:before {
      top: -23px;
      left: -2px;
      background: url('~images/icons/quote-open.svg') no-repeat center center/contain;
      @include pc {
        top: -24px;
        left: -13px;
      }
      @include tablet {
        top: convert-vw(-24);
        left: convert-vw(-13);
      }
    }

    &:after {
      right: 0;
      bottom: -10px;
      background: url('~images/icons/quote-close.svg') no-repeat center center/contain;
      @include pc {
        right: -12px;
        bottom: -13px;
      }
      @include tablet {
        right: convert-vw(-12);
        bottom: convert-vw(-13);
      }
    }
  }

  &__container {
    padding-bottom: 56px;
    @include pc {
      padding-bottom: 70px;
    }
    @include tablet {
      padding-bottom: convert-vw(70);
    }

    &.o-container {
      @include pc {
        max-width: 1260px;
      }
      word-break: break-word;
    }

    .a-text {
      word-break: auto-phrase;
      text-align-last: left;
      @include u-fz(18, 27, false, true);
      @include pc {
        max-width: 800px;
        @include u-fz(18, 28, false, true);
      }
      @include tablet {
        max-width: convert-vw(800);
      }

      & ~ .a-text {
        margin-top: 27px;
        @include tablet {
          margin-top: convert-vw(27);
        }
      }
    }
  }

  &__footer {
    margin-top: 43px;
    font-weight: $font-weight-bold;
    @include u-fz(24, 24, false, true);
    @include pc {
      max-width: 798px;
      margin-top: 50px;
      text-align: right;
    }
    @include tablet {
      max-width: convert-vw(798);
      margin-top: convert-vw(50);
    }
  }

  &__author {
    color: get-color('text', 'primary');
  }

  &__position {
    margin-left: 10px;
    font-family: $font-family-saira;
    color: get-color('text', 'gray');
    @include tablet {
      margin-left: convert-vw(10);
    }
    @include sp-small {
      white-space: nowrap;
    }
  }
}
