@use 'sass:math';

.o-office-info {
  padding: 48px 0;

  &__title {
    margin-bottom: 48px;
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
  }

  &__company {
    position: relative;
    margin-top: 48px;

    @include pc {
      margin-top: 95px;
    }

    &:before {
      position: absolute;
      bottom: 50%;
      left: 0;
      z-index: get-zindex('background');
      width: 100%;
      height: 1042px;
      content: '';
      background: url('/images/bg-office-sp.jpg') no-repeat bottom left/cover;

      @include pc {
        height: math.div(879, 1416) * 100vw;
        max-height: 879px;
        background-image: url('/images/bg-office-pc.jpg');
      }
    }
  }
}
