.o-blog-wrapper {
  position: relative;
  display: flex;

  &:before {
    display: flex;
    content: '';
    background: url('/images/blog-wrapper-bg.jpg') no-repeat top center / cover;

    @include pc {
      flex: 0 0 102px;
      height: 697px;
      transform: translateY(105px);
    }

    @include tablet {
      flex: 0 0 convert-vw(102px);
      height: convert-vw(697px);
      transform: translateY(convert-vw(105));
    }
  }

  &__container {
    width: 100%;
    padding: 24px 20px 32px;
    background-color: get-color('white');
    border: 1px solid get-color('border', 'light-blue');
    box-shadow: 0 15px 35px rgba(0, 0, 0, 5%);

    @include pc {
      padding: 33px 40px 48px;
    }
    @include tablet {
      padding: convert-vw(33) content-vw(40) convert-vw(48);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 52px;
    padding-bottom: 18px;
    border-bottom: 2px solid get-color('border', 'primary');
    position: relative;

    &:after {
      position: absolute;
      bottom: -2px;
      display: block;
      width: 180px;
      height: 2px;
      content: '';
      background-color: get-color('woodsmoke');
      @include tablet {
        bottom: convert-vw(-26px);
        width: convert-vw(180px);
      }
    }

    @include pc {
      margin: 0 31px 0 55px;
    }

    @include tablet {
      padding-bottom: convert-vw(18px);
      margin: 0 convert-vw(31px) 0 convert-vw(55px);
    }
  }

  &__info {
    position: relative;
  }

  &__title {
    margin-bottom: 16px;
    @include u-fz(24, 32);
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
    @include pc {
      @include u-fz(40, 60, false, true);

      margin-bottom: 24px;
    }
    @include tablet {
      margin-bottom: convert-vw(24px);
    }
  }

  &__bg-title {
    display: none;

    @include pc {
      z-index: get-zindex('background');
      display: block;
      height: fit-content;
      margin-top: 20px;
      margin-left: -50px;
      font-family: $font-family-encode-sans;
      font-weight: $font-weight-black;
      color: get-color('text', 'white');
      writing-mode: vertical-lr;
      transform: scaleX(-1) scaleY(-1) translateY(-105px);
      @include u-fz(150, 187, false, true);
    }

    @include tablet {
      margin-top: convert-vw(20px);
      margin-left: convert-vw(-52);
      transform: scaleX(-1) scaleY(-1) translateY(convert-vw(-105));
    }
  }

  &__date {
    margin-right: 16px;
    font-family: $font-family-encode-sans;
    font-weight: $font-weight-semi-bold;
    color: get-color('text', 'gray');
    @include u-fz(16, 20);
    @include tablet {
      @include u-fz(16, 20, false, true);
    }
  }

  &__category {
    font-family: $font-family-encode-sans;
    font-weight: $font-weight-bold;
    color: get-color('green');
    @include u-fz(16, 20);
    @include tablet {
      @include u-fz(16, 20, false, true);
    }
  }

  &__like {
    display: flex;
    align-items: center;
    font-family: $font-family-encode-sans;
    color: get-color('pink');
    @include u-fz(16, 20);

    @include tablet {
      @include u-fz(16, 20, false, true);
    }

    &:before {
      display: block;
      width: 32px;
      height: 32px;
      margin-right: 2px;
      content: '';
      background: url('/images/icon-heart.svg') no-repeat top center / cover;

      @include tablet {
        width: convert-vw(32px);
        height: convert-vw(32px);
      }
    }
  }

  &__body {
    margin: 28px 0 32px;

    @include pc {
      margin: 26px 55px 48px;
    }
    @include tablet {
      margin: convert-vw(26px) convert-vw(55px) convert-vw(48px) convert-vw(55px);
    }
  }

  &__navigator {
    padding-top: 48px;
    border-top: 2px solid get-color('border', 'primary');

    @include sp {
      padding-top: 33px;
      padding-bottom: 74px;
    }

    @include tablet {
      padding-top: convert-vw(48px);
    }
  }
}
