@use 'sass:math';

.o-diagram {
  $root: &;

  padding-bottom: 72px;

  @include pc {
    padding-bottom: 151px;
  }
  @include tablet {
    padding-bottom: convert-vw(151);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  &__anotation {
    font-size: 17px;
    font-weight: $font-weight-bold;
    line-height: 1;
    @include sp {
      margin: 0 auto;
    }
    @include pc {
      align-self: flex-start;
      font-size: 18px;
    }

    &-item {
      &:before {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        vertical-align: top;
        content: '';
        @include pc {
          margin-top: 2px;
        }
      }

      &--green {
        color: get-color('green');

        &:before {
          background: get-color('green');
        }
      }

      &--gray {
        color: get-color('text', 'gray');

        &:before {
          background: get-color('base', 'catskill-white');
        }
      }

      &:nth-child(n + 2) {
        margin-top: 10px;
        @include pc {
          margin-top: 8px;
        }
      }
    }
  }

  &__list {
    @include sp {
      column-count: 2;
      column-gap: 9px;
      margin-top: 33px;
    }
    @include pc {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -35px;
    }
  }

  &__item {
    text-align: center;
    @include pc {
      width: 231px;
      margin-bottom: 42px;
    }
    @include sp {
      display: flex;
      flex-direction: column;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    &:not(:last-child) {
      @include sp {
        margin-bottom: 13px;
      }
    }

    &:nth-child(1) {
      @include pc {
        order: 1;
      }
    }

    &:nth-child(2) {
      @include pc {
        order: 3;
      }
    }

    &:nth-child(3) {
      @include pc {
        order: 5;
      }
    }

    &:nth-child(4) {
      @include sp {
        margin-bottom: 141px;
        transform: translateY(141px);
      }
      @include pc {
        order: 2;
        margin-top: 160px;
        margin-right: -10px;
        margin-left: -10px;
      }
    }

    &:nth-child(5) {
      @include pc {
        order: 4;
        margin-top: 160px;
        margin-right: -10px;
        margin-left: -10px;
      }
    }

    &--highlight {
      #{$root}__title,
      #{$root}__content {
        color: get-color('green');
      }
      #{$root}__scope {
        color: get-color('white');
        background-color: get-color('green');
      }
    }
  }

  &__title {
    font-weight: $font-weight-bold;
    text-align: center;
    @include font-other(vi) {
      font-family: $font-family-encode-sans;
    }
    @include u-fz(16, 24);

    @include sp {
      order: 3;
      margin-top: 15px;
    }
    @include pc {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: calc(math.div(24, 16) * 3) + em;
      white-space: nowrap;
    }
  }

  &__image {
    margin: 24px auto 0;

    @include pc {
      width: 216px;
      margin-top: 22px;
    }
    @include sp {
      order: 1;
      width: 134px;
    }

    .a-image {
      @include aspect-ratio(216, 228);
    }
  }

  &__scope {
    display: inline-flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 80px;
    padding: 2px 10px 3px;
    margin-top: 7px;
    color: get-color('text', 'mine-shaft-dark');
    background: get-color('base', 'catskill-white');
    border-radius: 200px;
    @include sp {
      order: 2;
      @include u-fz(12, 14);
    }
    @include pc {
      @include u-fz(18, 25);

      width: 128px;
    }
  }

  &__content {
    max-width: 183px;
    margin-top: 13px;
    margin-right: auto;
    margin-left: auto;
    font-weight: $font-weight-semi-bold;
    @include u-fz(14, 18);

    text-align: left;
    white-space: pre-wrap;
    @include sp {
      order: 4;
    }
    @include pc {
      margin-top: 17px;
    }
  }

  &__release {
    text-align: center;
    @include sp {
      margin-top: 22px;
    }
    @include pc {
      display: block;
      order: 6;
      width: 100%;
    }

    &:before {
      display: block;
      width: 0;
      height: 0;
      margin: 0 auto;
      content: '';
      border-color: get-color('base', 'catskill-white') transparent transparent;
      border-style: solid;
      border-width: 18px 12px 0;

      @include pc {
        border-width: 28px 18px 0;
      }
    }

    &-title {
      margin-top: 6px;
      @include u-fz(16, 24);

      @include pc {
        margin-top: 14px;
        @include u-fz(22, 36, false, true);
      }
    }

    &-image {
      width: 120px;
      padding: 17px;
      margin: 12px auto 0;
      border: 6px solid get-color('border', 'primary');
      border-radius: 50%;

      @include pc {
        width: 190px;
        padding: 30px;
        margin-top: 11px;
        border-width: 10px;
      }
    }
  }
}
