.m-card-info {
  $root: &;

  &:hover {
    @include only-pc {
      #{$root}__image {
        img {
          transform: scale(1.03);
        }
      }
    }
  }

  &--showmore {
    .a-button__icon {
      transform: rotate(-90deg);
    }
  }

  &__image {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
    -webkit-mask-image: radial-gradient(get-color('white'), get-color('black'));

    img {
      @include transitions(transform, 0.5s $transition-cubic);
    }

    .a-image {
      @include aspect-ratio(326, 197);
      @include pc {
        @include aspect-ratio(389, 236);
      }
    }
  }

  &__number {
    @include u-fz(36, 46);

    position: absolute;
    right: 8px;
    bottom: 0;
    font-family: $font-family-saira;
    font-weight: $font-weight-bold;
    color: get-color(text, 'white');

    @include pc {
      @include u-fz(44, 56, false, true);
    }
  }

  &__body {
    padding: 32px 32px 48px;
    border: 1px solid get-color(border, 'primary');
    border-radius: 0 0 16px 16px;
    box-shadow: 0 15px 35px rgba(0 0 0 / 5%);

    @include pc {
      padding: 27px 32px 48px 36px;
    }

    @include tablet {
      padding: convert-vw(34) convert-vw(30) convert-vw(48) convert-vw(36);
    }
  }

  &__title {
    word-break: auto-phrase;
    margin-bottom: 16px;
    white-space: break-spaces;
    @include font-other(vi) {
      font-family: $font-family-saira;
    }
    @include u-fz(18, 27, false, true);

    @include pc {
      min-height: 48px;
    }

    /* prettier-ignore */
    #{$root}:not(#{$root}--showmore) & {

      /* stylelint-disable-next-line value-no-vendor-prefix */
      display: -webkit-box;
      max-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__content {
    max-height: 75px;
    margin-bottom: 27px;
    overflow: hidden;
    font-weight: $font-weight-regular;
    @include u-fz(16, 24, false, true);

    text-align: justify;
    white-space: pre-line;

    #{$root}--showmore & {
      max-height: none;
      overflow: auto;
    }

    @include tablet {
      max-height: convert-vw(75px);
    }
  }

  &__button {
    &:hover {
      @include only-pc {
        .a-button__icon {
          transform: translateY(2px) rotate(90deg);

          #{$root}--showmore & {
            transform: translateY(-2px) rotate(-90deg);
          }
        }
      }
    }
  }
}
